.khayr_main_comment {
	position: relative;
}

.khayr_main_comment .clear {
	clear: both;
}

.khayr_main_comment .pt10 {
	padding-top: 10px;
}

.khayr_main_comment .w-45 {
	width: 45%;
}

.khayr_main_comment .comments {
	border-top: 0px solid #ececec;
	margin: 0 0 20px;
}

.khayr_main_comment .comments .stock {
	padding: 0px 0px 20px 0px;
	position: relative;
}

.khayr_main_comment .comments .stock .userInfo {
	font-weight: 600;
	margin-bottom: 10px;
}

.khayr_main_comment .comment a {
	text-decoration: underline;

}

.khayr_main_comment .comments .stock .userText {
	clear: both;
	margin: 0 0 15px 5px;
	font-size: 13px;
	border-left: 1px solid #e8e8e8;
	padding-left: 15px;
}

.khayr_main_comment .comments .stock .userText p {
	margin-bottom: 10px;
	white-space: pre-line;
}

.khayr_main_comment .comments .stock .userText img:not([alt=CAPTCHA]) {
	float: left;
	max-width: 50px;
	max-height: 50px;
	padding: 0 10px 10px 0;
}

.khayr_main_comment .comments .stock .userText a {
	display: inline-block;
	margin: 10px 0 0;
}

.khayr_main_comment .comments .stock .userText .action {
	clear: both;
}

.khayr_main_comment .comments .stock .stock {
	margin-left: 40px;
}

.khayr_main_comment .comments .stock .stock .stock {
	margin-left: 80px;
}


.khayr_main_comment .form.comment input[type="submit"] {
	margin: 0 auto;
	display: block;
	width: 136px;
}

.khayr_main_comment form textarea {
	margin: 0 0 20px;
	max-height: 90px;
}

.khayr_main_comment form input[type="text"],
.khayr_main_comment form input[type="password"] {
	height: 33px;
	line-height: 27px;
	padding: 0 6px;
	font-family: Verdana, sans-serif;
	background: white;
	margin: 0 0 20px;
	max-height: 90px;
	width: 200px;
	display: block;
}

.khayr_main_comment form input[type="checkbox"],
.khayr_main_comment form input[type="radio"] {
	border: none;
}

.khayr_main_comment form label {
	margin: 0 5px 0 0;
	cursor: pointer;
}

.khayr_main_comment form label * {
	vertical-align: middle;
}

.khayr_main_comment form label input {
	margin: 0 2px 0 0;
}

.khayr_main_comment a.button {
	max-width: 120px;
}

.khayr_main_comment form button,
.khayr_main_comment button,
.khayr_main_comment a.button,
.khayr_main_comment a.button:visited {
	font-size: 14px;
	line-height: 28px;
	margin: 0 10px;
	padding: 0 30px;
}

.khayr_main_comment form input[type="submit"]:hover,
.khayr_main_comment form button:hover,
.khayr_main_comment button:hover,
.khayr_main_comment a.button:hover {
	color: #000;
}

.khayr_main_comment .form_for {
	display: none;
}

.khayr_main_comment .comments .stock .userText .rating-vote span.rating-vote-result,
.khayr_main_comment .comments .stock .userText .rating-vote a {
	margin: 0;
}

.khayr_main_comment_suc_exp {
	position: fixed;
	height: 30px;
	width: 100%;
	background: #0B690B;
	color: #FFF;
	font-weight: bold;
	padding: 10px;
	z-index: 2000;
	text-align: center;
	border-bottom: 1px solid #FFF;
	cursor: pointer;
	display: none;
}

.khayr_main_comment_err_exp {
	display: none;
	cursor: pointer;
	position: fixed;
	height: 30px;
	width: 100%;
	background: #690B0B;
	color: #FFF;
	font-weight: bold;
	padding: 10px;
	z-index: 2000;
	text-align: center;
	border-bottom: 1px solid #FFF;
}

.form.comment.main_form p {
	font-weight: 600;
}

.form.comment.main_form form {
	max-width: 600px;
}

.comments {
	max-width: 800px;
}

.form.comment.main_form {
	display: flex;
}

.wrapper-form-comment {
	padding: 20px 30px 15px 30px;
	background: #f8f8f9;
	border-radius: 4px;
}

.form.comment.main_form textarea {
	background: white;
}

.khayr_main_comment .comments .stock .stock.stock-child {
	background: white;
	padding: 15px;
	margin-top: 20px;
	border-radius: 4px;
}

.khayr_main_comment .comments .stock.stock-child .userText {
	border: unset;
	padding: 0;
	margin-left: 0;
	margin-bottom: 0px;
}

.khayr_main_comment .comments .stock.stock-child .userText p {
	margin: 0;
}