/bitrix
/upload
/dev
__bx_log.log
.htaccess
web.config
dev_log.txt
*.log
*.xml
/sitemap*
.htpasswd
.idea/
/local/log.txt
/local/logs
/awstats
urlrewrite.php
/robots.txt
/roulete_log.txt
/roulete__retail_log.txt